#header {
  top: 0;
  position: absolute;
  margin: 0 !important;
  opacity: 1;
  z-index: 100;
  width: 100%;
  background: transparent;
  #header_main {
    max-width: $container-grid;
    margin: 0 auto;
  }
  .inner {
    @include flex(center);
    height: 75px;
  }
  nav ul {
    @include flex(center);
    li + li {
      margin-left: 30px;
    }
    a {
      @include transition(all, 0.5s, ease);
      font-size: 16px;
      letter-spacing: 0;
    }
  }
}

#footer {
  padding: 30px 0;
  position: relative;
  .inner {
    max-width: $container-grid;
    margin: 330px auto 0;
  }
  .footer_info {
    @include flex(center);
    justify-content: flex-end;
    gap: 100px;
    > div {
      font-size: 15px;
      color: rgba(37, 37, 37, 0.56);
      &:first-child {
        margin-right: auto;
      }
      span {
        margin-left: 10px;
        color: inherit;
        font-size: 100%;
      }
    }
  }
  .footer_txt {
    @include flex(center);
    position: relative;
    > p b {
      @extend .en;
      font-size: 7.81vw;
      color: $color-secondary;
      margin: 0;
      position: absolute;
      right: 58px;
      top: 50%;
      transform: translateY(-50%);
      font-weight: 400;
      letter-spacing: -2px;
    }
    .bg_txt {
      position: relative;
      display: inline-flex;
      p {
        @extend .en;
        color: rgba(255, 255, 255, 0.1);
        font-size: 476px;
        margin: 0;
        white-space: nowrap;
        line-height: 1;
        font-weight: 400;
      }
    }
  }
}
#circle {
  width: 0;
  height: 0;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -74px 0 0 -74px;
  pointer-events: none;
  mix-blend-mode: exclusion;
  z-index: 550;
  color: #000;
  font-size: 21px;
  letter-spacing: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: width 0.5s ease, height 0.5s ease, opacity 0.5s ease;
  &.on {
    width: 148px;
    height: 148px;
    margin: -74px 0 0 -74px;
    opacity: 1;
  }
}
.container {
  position: relative;
}
