$color-primary: #000;
$color-secondary: #252525;
$color-inverse: #e9a88b;

$container-grid: 95%;

$font-global: "Marcellus", "Noto Sans KR", sans-serif;
$font-en: "Marcellus", serif;
$font-kr: "Noto Sans KR", sans-serif;
$font-number: "Roboto Flex", sans-serif;

$h2: 8.12vw;
$h4: 1.82vw;
$p: 0.9vw;
